</td>
    </tr>
<tr>
    <td>
        <button type="button" data-toggle="tooltip" title="{{ text_po }}" class="btn btn-info btn-xs"><i class="fa fa-info fa-fw"></i></button>
    </td>
    <td>{{ text_po }} {{ po_number }}